<%- include('templates/head.ejs') %>
<%- include('templates/header.ejs') %>

      
        <div class="app-main">
            <%- include('templates/sidebar.ejs') %>
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title app-page-title-simple">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem">
                                        <span class="d-inline-block pr-2">
                                            <i class="lnr-apartment opacity-6"></i>
                                        </span>
                                        <span class="d-inline-block">All Users</span>
                                    </div>
                                   
                                </div>
                            </div>
                            
                        </div>
                    </div>
                  

                   
                    <div class="row">
                        <div class="col-sm-12 col-md-7 col-lg-12">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Phone Number</th>
                                                <th>Country</th>
                                                <th>Verification</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                            <% Allusers.forEach( function(users,index) { %>
                                                <tr>
                                                    <td><%= users.name %></td>
                                                    <td><%= users.email %></td>
                                                    <td><%= users.phone_number %></td>
                                                    <td><%= users.country %></td>
                                                    <td><%= users.verification_status %></td>
                                                    <td>
                                                      <div class="data-container" data-id="<%= users._id %>">
                                                        <a style="color:white"   class="btn btn-primary btn_get_id"><i class="fa-solid fa-eye"></i>  View</a>
                                                        <button type="button" class="btn btn-danger"><i class="fa-solid fa-times"></i> Block</button>
                                                      </div>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                            
                                        </tbody>
                                       
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    

                    

               
                </div>
             <%- include('templates/footer') %>