<%- include('templates/head.ejs') %>
<%- include('templates/header.ejs') %>

      
        <div class="app-main">
            <%- include('templates/sidebar.ejs') %>
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title app-page-title-simple">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem">
                                        <span class="d-inline-block pr-2">
                                            <i class="lnr-apartment opacity-6"></i>
                                        </span>
                                        <span class="d-inline-block">Transactions</span>
                                    </div>
                                   
                                </div>
                            </div>
                            
                        </div>
                    </div>
                  
                       
                   
                    <div class="row">
                        
                        <div class="col-sm-12 col-md-7 col-lg-12 " >
                            <div class="main-card mb-3 card">
                                <div class="card-body " >
                                     <div class="table-responsive">
                                            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                 <th>ID</th>
                                                <th>Amount</th>
                                                <th>Dep Type</th>
                                                <th>Crypto Amount</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                               
                                         <% transac_history.forEach( function (trans) { %>

                                            <tr>
                                                <td id="transactionID" ><%= trans.transactionId %></td>
                                                <td id="Amount"><%= trans.amount %></td>
                                                 <td><%= trans.deposit_type %></td>
                                                <td><%=  trans.crypto_amount+" "+`(${trans.crypto_coin})` %></td>
                                                <td><%= trans.date %></td>
                                                <td> 
                                                    <% if (trans.status=="pending") { %>
                                                      <button type="button" class="btn btn-outline-warning btn_approve " data-userid="<%= trans.userid %>" data-crypto_amount="<%= trans.crypto_amount %>" data-crypto_coin="<%= trans.crypto_coin %>" data-amount="<%= trans.amount %>" data-id="<%= trans.transactionId %>" >Approve</button>
                                                     <% }else{%>
                                                         <span class="text-success"><%= trans.status %></span>
                                                   <% } %>
                                            </td>
                                                
                                            </tr>
                                          
                                         <% }) %>
                                        </tbody>
                                       
                                    </table>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    

               
                </div>
             <%- include('templates/footer') %>