<%- include('template/header') %>
	<%- include('template/sidebar') %>
		<%- include('template/header_main') %>
			<main class="content">
				<% if (get_balance) { %>
					<div class="container-fluid p-0">

						<h1 class="h3 mb-3">Wallet</h1>
						<div class="alert alert-info">Complete KYC verification for final withdrawal to be opened</div>
						<div class="row">
							<div class="col-12">
								<div class="card">

									<div class="card-body">
										<div class="row">

											<div class="col-md-6">
												<div class="card">

													<div class="card-body">
														<div class="row">
															<div class="col mt-0">
																<h5 class="card-title">Total Wallet Balance</h5>
															</div>

															<div class="col-auto">
																<div class="stat text-primary"
																	style="background-color:forestgreen;">
																	<i class="align-middle fa-solid fa-wallet"
																		style="color: white;"></i>
																</div>
															</div>
														</div>
														<h1 class="mt-1 mb-3" id="totalBalance">$<%=
																get_balance.Total_Balance.toLocaleString('en-Us',{minimumFractionDigits:2}) %>
														</h1>
														<h1 class="mt-1 mb-3" id="totalBalance_current"></h1>
														<input type="hidden" id="static_account_balance"
															value="<%= get_balance.Total_Balance %>">
														<!-- <input type="text" id="dynamic_account_balance" value="">-->
														<div class="mb-0">
															<span class="text-danger">
																<i class="mdi mdi-arrow-bottom-right" id=""></i>
															</span>
															<span class="text-muted"></span>
														</div>
													</div>

												</div>
												
											</div>
                                          
											<div class="col-md-6">
												
												<div class="card">

													<div class="card-body">
														<div class="row">
															<div class="col mt-0">
																<h5 class="card-title">Deposite Balance</h5>
															</div>

															<div class="col-auto">
																<div class="stat text-primary"
																	style="background-color:#3B7DDD;">
																	<i class="align-middle fa-solid fa-dollar"
																		style="color: white;"></i>
																</div>
															</div>
														</div>
														<h1 class="mt-1 mb-3" id="totalBalance">$<%=
																get_balance.Deposit_Balance.toLocaleString('en-Us',{minimumFractionDigits:2}) %>
														</h1>
														<h1 class="mt-1 mb-3" id="totalBalance_current"></h1>
														<input type="hidden" id="static_account_balance"
															value="<%= get_balance.Total_Balance %>">
														<!-- <input type="text" id="dynamic_account_balance" value="">-->
														<div class="mb-0">
															<span class="text-danger">
																<i class="mdi mdi-arrow-bottom-right" id=""></i>
															</span>
															<span class="text-muted"></span>
														</div>
													</div>

												</div>

											</div>
										</div>
										<!--row for buttons-->
										<div class="row">
											<div class="col-md-12">
												<div class="card">
													<div class="card-body">
														<div>
															<button class="btn btn-outline-primary"
																data-bs-toggle="modal"
																data-bs-target="#exampleModal"></i> Deposit
																Funds</button>
															<button class="btn btn-outline-secondary" type="button"
																data-bs-toggle="collapse"
																data-bs-target="#multiCollapseExample2"
																aria-expanded="false"
																aria-controls="multiCollapseExample2"><i
																	data-feather="arrow-down"></i>Withdraw
																Funds</button>
																
														</div>
													</div>
												</div>
											</div>
										</div><!--end of row for buttons-->
									</div>

								</div>
							</div>
						</div>



						<div class="row">
							<div class="col-md-12">

								<div class="card">

									<div class="card-body">

										<div class="row">
											<!--<div class="col-md-6">
												<div class="card">

													<div class="card-body">
														<div class="row">
															<div class="col mt-0">
																<h5 class="card-title">TRON Balance</h5>
															</div>

															<div class="col-auto">
																<div class="stat text-primary" >
																	<img src="/img/tron (1).png">
																</div>
															</div>
														</div>
														<h1 class="mt-1 mb-3" id="staticDOGEPrice">36,363,636 <span style="font-size: smaller;"></span></h1>


														<input type="hidden" id="static_doge_price"
															value="<%= 0.00 //get_balance.Usdt_Amount %>">
														<input type="hidden" id="dynamic_doge_price"
															name="dynamic_doge_price" value="0" readonly>
														<div class="mb-0">
															
															<span class="text-muted"></span>
														</div>
														<div class="row">
															<div class="col-md-4"></div>
															<div class="col-md-4"></div>
															<div class="col-md-4">
																<button type="button" class="btn btn-outline-secondary"
																	data-bs-toggle="modal"
																	data-bs-target="#DogeModal">Deposit Tron</button>
															</div>
														</div>
													</div>

												</div>

											</div>end of column-->

											<div class="col-md-6">
												<div class="card">

													<div class="card-body">
														<div class="row">
															<div class="col mt-0">
																<h5 class="card-title">BTC Balance</h5>
															</div>

															<div class="col-auto">
																<div class="stat text-primary"
																	style="background-color: orange;">
																	<i class="align-middle fa-brands fa-btc"
																		style="color: white;"></i>
																</div>
															</div>
														</div>
														<h1 class="mt-1 mb-3" id="staticBTCPrice">0.00</h1>

														<input type="hidden" id="static_btc_price"
															value="<%= get_balance.Btc_Amount %>">
														<input type="hidden" id="dynamic_btc_price"
															name="dynamic_btc_price" value="0" readonly>
														<div class="mb-0">
															<span class="text-danger">
																<i class="mdi mdi-arrow-bottom-right"
																	id="btcChange"></i>
															</span>
															<span class="text-muted"></span>
														</div>
														<div class="row">
															<div class="col-md-4"></div>
															<div class="col-md-4"></div>
															<div class="col-md-4">
																<button type="button" class="btn btn-outline-secondary"
																	data-bs-toggle="modal"
																	data-bs-target="#BtcModal">Deposit BTC</button>
															</div>
														</div>
													</div>

												</div>

											</div><!--end of column-->

											<div class="col-md-6">
												<div class="card">

													<div class="card-body">
														<div class="row">
															<div class="col mt-0">
																<h5 class="card-title">Ethereum Balance</h5>
															</div>

															<div class="col-auto">
																<div class="stat text-primary"
																	style="background-color:#3B7DDD;">
																	<i class="align-middle fa-brands fa-ethereum"
																		style="color: white;"></i>
																</div>
															</div>
														</div>
														<h1 class="mt-1 mb-3" id="staticETHPrice">0.00</h1>
														<input type="hidden" id="static_eth_price"
															value="<%= get_balance.Ethereum_Amount %>">
														<input type="hidden" id="dynamic_eth_price"
															name="dynamic_eth_price" value="0" readonly>
														<div class="mb-0">
															<span class="text-danger">
																<i class="mdi mdi-arrow-bottom-right"
																	id="ethChange24h"></i>
															</span>
															<span class="text-muted"></span>
														</div>
														<div class="row">
															<div class="col-md-4"></div>
															<div class="col-md-4"></div>
															<div class="col-md-4">
																<button type="button" class="btn btn-outline-secondary"
																	data-bs-toggle="modal"
																	data-bs-target="#EthModal">Deposit ETH</button>
															</div>
														</div>
													</div>

												</div>

											</div><!--end of column-->
											<div class="col-md-6">
												<div class="card">

													<div class="card-body">
														<div class="row">
															<div class="col mt-0">
																<h5 class="card-title">USDT Balance</h5>
															</div>

															<div class="col-auto">
																<div class="stat text-primary"
																	style="background-color:forestgreen;">
																	<i class="align-middle fa-solid fa-dollar-sign"
																		style="color: white;"></i>
																</div>
															</div>
														</div>
														<h1 class="mt-1 mb-3" id="staticUSDTPrice">0.00</h1>
														<input type="hidden" id="static_usdt_price"
															value="<%= get_balance.Usdt_Amount %>">
														<input type="hidden" id="dynamic_usdt_price"
															name="dynamic_usdt_price" value="0" readonly>
														<div class="mb-0">
															<span class="text-danger">
																<i class="mdi mdi-arrow-bottom-right"
																	id="usdtChange24h"></i>
															</span>
															<span class="text-muted"></span>
														</div>
														<div class="row">
															<div class="col-md-4"></div>
															<div class="col-md-4"></div>
															<div class="col-md-4">
																<button type="button" class="btn btn-outline-secondary"
																	data-bs-toggle="modal"
																	data-bs-target="#UsdtModal">Deposit USDT</button>
															</div>
														</div>
													</div>

												</div>

											</div><!--end of column-->

											<div class="col-md-6">
												<div class="card">

													<div class="card-body">
														<div class="row">
															<div class="col mt-0">
																<h5 class="card-title">DOGE Balance</h5>
															</div>

															<div class="col-auto">
																<div class="stat text-primary"
																	style="background-color:rgb(199, 163, 45)">
																	<i class="align-middle fa-solid fa-d"
																		style="color: white;"></i>
																</div>
															</div>
														</div>
														<h1 class="mt-1 mb-3" id="staticDOGEPrice">0.00</h1>


														<input type="hidden" id="static_doge_price"
															value="<%= get_balance.Usdt_Amount %>">
														<input type="hidden" id="dynamic_doge_price"
															name="dynamic_doge_price" value="0" readonly>
														<div class="mb-0">
															<span class="text-danger">
																<i class="mdi mdi-arrow-bottom-right"
																	id="dogeChange24h"></i>
															</span>
															<span class="text-muted"></span>
														</div>
														<div class="row">
															<div class="col-md-4"></div>
															<div class="col-md-4"></div>
															<div class="col-md-4">
																<button type="button" class="btn btn-outline-secondary"
																	data-bs-toggle="modal"
																	data-bs-target="#DogeModal">Deposit DOGE</button>
															</div>
														</div>
													</div>

												</div>

											</div><!--end of column-->


										


										</div>

									</div>
								</div>



							</div>
						</div>

					</div>
					<% } %>
						
					    <%- include('modals/bankDeposit.ejs') %>
						<%- include('modals/btc.ejs') %>
						<%- include('modals/eth.ejs') %>
						<%- include('modals/usdt.ejs') %>
						<%- include('modals/doge.ejs') %>
						<%- include('modals/success.ejs') %>

			</main>

			<%- include('template/footer') %>